﻿body {
    margin: 0;
    padding: 0;
    background: url(Images/sunset3.jpg) no-repeat center fixed;
    background-size: cover; /* version standardisée */
    font-family: 'Trebuchet MS';

}

section {
    margin: 0;
    background-color:transparent;

}

    section#menu {
        display: flex;
        color: black;
        width: 60%;
        height: 40px;
        margin-left: 250px;
        margin-top: 10px;
        padding-top:5px;
        background-color: white;
    }

    section#Texte {
        color: white;
        background-color: black;
        height: 40px;
        margin-top: -18px;
        margin-left: 250px;
        width: 60%;
    }

#logo
{
    width:30px;
    height:20px;
    margin-top:2px;
}

#logo_rech {
    width: 30px;
    height: 30px;
    margin-left: 620px;
    cursor:pointer;
}

#tiitre {
    margin-left: 30px;
    margin-top: -22px;
    position: absolute;
}

a {
    font-size: 15px;
    color: black;
    text-decoration: none;
    margin-left: 15px;
    margin-top: 5px;
}

.principal {
    width: 60%;
    margin-left: 250px;
    background-color: transparent;
    position:relative;
}

.leftDivision {
    margin-left: 12px;
    margin-top: 110px;
    color: white;
    position: relative;
    border-width: 4px;
    border-top-style: solid;
    border-top-color: darkorange;
    width: 28%;
    height: 340px;
    background-color: aliceblue;
}


.rightDivision {
    margin-left: 485px;
    position: relative;
    margin-top: -345px;
    color: white;
    border-top-style: solid;
    border-width: 4px;
    border-top-color: darkorange;
    width: 28%;
    height: 340px;
    background-color: aliceblue;
}

.centerDivision {
    margin-left: 250px;
    position: relative;
    margin-top: -345px;
    color: white;
    border-width: 4px;
    border-top-style: solid;
    border-top-color: darkorange;
    width: 28%;
    height: 340px;
    background-color: aliceblue;
}

/***SLIDER DESIGN**/


.container {
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 40%;
    /*background: #4c4c4c;*/
}

.slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
}

    .slide_img img {
        width: 100%;
        height: 400px;
    }


.nav {
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.dots {
    top: 0px;
    width: 40px;
    height: 4px;
    margin: 100px 4px;
    position: relative;
    display: inline-block;
    background-color: orangered;
    opacity:0.5;
    float: right;
    cursor:pointer;
}


.positionnement{
    margin-left:20px;
    margin-top:10px;
    color:orangered;
}

.banieres {
    margin-top:4px;
    position: relative;
    width: 100%;
    height: 130px;
}

.titreDesc
{
    color: black;
    margin-left:6px;
}

.description {
    color: black;
    font-size:13px;
}

.lebtnMore {
    float: right;
    background-color: orangered;
    color: aliceblue;
    border-style: none;
    width: 70px;
    cursor: pointer;
}

.headingDivision
{
    margin-top:-7px;
    background-color:aliceblue;
    padding-top:30px;
    padding-bottom:20px;
    border-bottom-left-radius:40%;
    border-bottom-right-radius:40%;
}

h2{
    text-align:center;
    color:lightgray;
}

.textAbout
{
    text-align:center;
}

.btnMoreAbout {
    text-align: center;
    margin-left: 300px;
    margin-top: 20px;
    width: 85px;
    height: 85px;
    background: #fafafa;
    box-shadow: 2px 2px 8px #aaa;
    font: bold 13px trebuchet ms;
    border-radius: 50%;
    color: #555;
    cursor:pointer;
}

hr{
    width:30%;
    text-align:center;
}
                         

.galery {
    margin: 10px;
}

 .galery img {
        filter: grayscale(100%);
        transition: 1s;
        width:22%;
        height:170px;
 }

 .galery img:hover {
            filter: grayscale(0%);
            transform: scale(1.1);
  }

.gal
{
    background-color:gainsboro;
    margin-top:-5px;
    padding-top:10px;
    margin-left:-150px;
    width:140%;
}

#sectionContact
{
    background-color:gainsboro;
    font-size:small;
    padding-top:20px;
    height:400px;
}

.laGauche {
    margin-left: 4px;
    width: 30%;
    font-size:x-small;
}

.laDroite {
   
    font-size: x-small;
    margin-left: 260px;
    margin-top: -270px;
}

.colorationOrange
{
    color:orange;
}

.controls
{
    margin-left:0px;
}

.lesSousTitres {
    font-size: small;
}

.lesTextbox {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    width: 30%;
    border-width: 1px;
}

#txtMessage {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-width:1px;
}

.uneTaille {
    width: 135px;
    border-radius: 4px, 4px;
}

#send {
    background-color: orangered;
    color: aliceblue;
    border-style: none;
    width: 60px;
    cursor: pointer;
    height: 30px;
    border-radius: 4px, 4px;
}

#clear {
    background-color: orangered;
    color: aliceblue;
    border-style: none;
    width: 60px;
    cursor: pointer;
    height: 30px;
    border-radius: 4px, 4px;
}